*
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body
{
    height: 50vh;
    display: grid;
    place-items: center;
    background: #34495e;
}
table
{
    width: 1000px;

}
table, td, th
{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

}
td
{
    font-size: 16px;
}
th
{
    background-color:silver;
    color:black;

}
tr:nth-child(odd)
{
    background-color:lightskyblue;
    color:black;
}
tr:nth-child(even)
{
    background-color:white;
    color:black;
}
h1{
    color:white;
    text-transform: uppercase;
    font-weight: 500;
    padding:12px;
}
.mybutton
{
   width:20%;
   background: #2ecc71;
   color:white;
   border: 0;
   padding:10px;
   border-radius:1px;
   height: 40px;
   width: 100px;
}
#button
{
    background: cornflowerblue;
    position:relative;
    left:900px;
    height: 40px;
    width: 100px;
    border: 2px solid cornflowerblue;
}
#button:focus
{
    width: 250px;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

#DELETE
{
    background:red;
}





