.display
{
    display: grid;
    place-items: center;
}
body {
    height: 50vh;
    background: #34495e;
}

table {
    width: 900px;

}

table, td, th {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

}

td {
    font-size: 16px;
}

th {
    background-color:silver;
    color:black;

}

tr:nth-child(odd) {
    background-color:lightskyblue;
    color:black;
}

tr:nth-child(even) {
    background-color:white;
    color:black;
}

h1 {
    color:white;
    text-transform: uppercase;
    font-weight: 500;
    padding:12px;
}

.mybutton {
   width:20%;
   background:gold;
   color:black;
   border: 0;
   padding:10px;
   border-radius:1px;
   height: 40px;
   width: 200px;
}
